AddDefaultCharset UTF-8

RewriteEngine on
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]
RewriteCond %{REQUEST_URI} !^/cache/
RewriteCond %{REQUEST_URI} !^/robots.txt
RewriteRule (.*) index.php [QSA,L]
