.table > tbody > tr > td.actionTd{
  vertical-align: middle;
  width:40px;
}
.nav-list-categorys .nav-list{
  padding-left:15px;margin-bottom:0;
}
.nav-list-categorys .actions{
  white-space: nowrap;margin-left: 10px}
.nav-list-categorys label{font-weight: 400; font-size:12px;
}
.nav-list-categorys{
  padding-left:0px;padding-right:0px;margin-bottom:0;
}
span.nav-toggle-icon{
  font-size:12px;
  top:0px;
  color:#888;
  cursor:pointer;
}

.dataManager {
  font-size: 12px;
  position: relative;
}
.dataManager th.sortable a{
  background:url("/static/moduleAsset/Ui/images/orderable.png") no-repeat 0 4px;
  padding-left:13px
}

.dataManager th.sorted-asc a{
  background-position:0 -27px
}

.dataManager th.sorted-desc a{
  background-position:0 -56px
}
.dataManager-bottomFloat-container {
  height: 37px;
}
.dataManager .dataManager-bottomFloat {
  position: fixed;
  bottom:0;
  right:0;
}
.dataManager .dataManager-bottomFloat .pagination {
  margin:0;
}
.form-search-results {
  position: absolute;
  width:auto;
  max-height: 200px;
  overflow-y: auto;
  background: #fff;
  z-index: 1000000000000000;
  border:1px solid #ccc;
}

.form-search-results>div{
  padding: 5px;
  cursor:pointer;
}
.form-search-results>div:hover{
  font-weight: bold;
  padding: 4px;
  border:1px solid #ccc;
}