<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {HEAD}
    </head>
    <body>
        <div id="wrapper">
            {WIDGET:sidebar}
            <span id ='menu-toggle' class = 'glyphicon glyphicon-th-list'></span>

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    {CONTENT}
                </div>
            </div>
        </div>
        <!-- Menu Toggle Script -->
        <script>
            inji.onLoad(function () {
              $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
              });
            });
        </script>
    </body>
</html>
